{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <h1>Articles : Count({{ pagination.getTotalItemCount() }})</h1>

        {% for article in pagination %}
            <h3>{{ article.title }}</h3>
            <p>Published at: {{ article.pulishedAt |date }}</p>
            {#<p>{{ article.content }}</p>#}

            <h5>Category: {{ article.category.name }}</h5>
            <div>

                <h5>Tags:
                    {% for tag in article.tags %}
                        {{ tag.name }}{{ not loop.last ? ',' }}
                    {% endfor %}
                </h5>
            </div>
            <hr>
        {% endfor %}

 {{ knp_pagination_render(pagination) }}
{% endblock %}
